In [1]:
#We will continue the series with our previous dataset

import pandas as pd

realEstTrans = pd.read_csv('../input/Sacramentorealestatetransactions.csv')

In [2]:
realEstTrans.head()

             street        city    zip     ...      price   latitude   longitude
0      3526 HIGH ST  SACRAMENTO  95838     ...      59222  38.631913 -121.434879
1       51 OMAHA CT  SACRAMENTO  95823     ...      68212  38.478902 -121.431028
2    2796 BRANCH ST  SACRAMENTO  95815     ...      68880  38.618305 -121.443839
3  2805 JANETTE WAY  SACRAMENTO  95815     ...      69307  38.616835 -121.439146
4   6001 MCMAHON DR  SACRAMENTO  95824     ...      81900  38.519470 -121.435768

[5 rows x 12 columns]

In [3]:
#Now let's look at making some changes to our dataset
#Let's try to  add a column
#We will

realEstTrans['PerSqFt'] = realEstTrans['price'] / realEstTrans['sq__ft']
realEstTrans.head()
#As you can see we created a new column which has the price per square feet.
#So this is really useful when you have to shape you data efficiently

             street        city     ...       longitude     PerSqFt
0      3526 HIGH ST  SACRAMENTO     ...     -121.434879   70.839713
1       51 OMAHA CT  SACRAMENTO     ...     -121.431028   58.450728
2    2796 BRANCH ST  SACRAMENTO     ...     -121.443839   86.532663
3  2805 JANETTE WAY  SACRAMENTO     ...     -121.439146   81.346244
4   6001 MCMAHON DR  SACRAMENTO     ...     -121.435768  102.760351

[5 rows x 13 columns]

In [4]:
#We can also drop certain columns that we will not be needing for operations
#We will use the .drop(columns='') method for this

realEstTrans = realEstTrans.drop(columns=['PerSqFt'])
realEstTrans.head()
#As you can see we have dropped the column we created a while back
#Notice the assignment i have made in 'realEstTrans = realEstTrans.drop(columns=['PerSqFt'])'
#This is because if we don't assign, the  original dataset will not change.Try it out

             street        city    zip     ...      price   latitude   longitude
0      3526 HIGH ST  SACRAMENTO  95838     ...      59222  38.631913 -121.434879
1       51 OMAHA CT  SACRAMENTO  95823     ...      68212  38.478902 -121.431028
2    2796 BRANCH ST  SACRAMENTO  95815     ...      68880  38.618305 -121.443839
3  2805 JANETTE WAY  SACRAMENTO  95815     ...      69307  38.616835 -121.439146
4   6001 MCMAHON DR  SACRAMENTO  95824     ...      81900  38.519470 -121.435768

[5 rows x 12 columns]

In [5]:
#Lets create the previous column again
realEstTrans['PerSqFt'] = realEstTrans['price'] / realEstTrans['sq__ft']
realEstTrans.head()

             street        city     ...       longitude     PerSqFt
0      3526 HIGH ST  SACRAMENTO     ...     -121.434879   70.839713
1       51 OMAHA CT  SACRAMENTO     ...     -121.431028   58.450728
2    2796 BRANCH ST  SACRAMENTO     ...     -121.443839   86.532663
3  2805 JANETTE WAY  SACRAMENTO     ...     -121.439146   81.346244
4   6001 MCMAHON DR  SACRAMENTO     ...     -121.435768  102.760351

[5 rows x 13 columns]

In [6]:
#As you can see any columns that we create go far to the end. 
#We need to make outr dataset well organized, else it's really stressful !!

#Lets decide how our colums should be arranged

cols = list(realEstTrans.columns.values)
realEstTrans = realEstTrans[cols[0:10] + [cols[-1]] + cols[10:12]]
realEstTrans.head()
#As you can see we have moved the last column just next to 'price'
#Try to understand the above lines
#We have used column indexes to achieve this

             street        city     ...       latitude   longitude
0      3526 HIGH ST  SACRAMENTO     ...      38.631913 -121.434879
1       51 OMAHA CT  SACRAMENTO     ...      38.478902 -121.431028
2    2796 BRANCH ST  SACRAMENTO     ...      38.618305 -121.443839
3  2805 JANETTE WAY  SACRAMENTO     ...      38.616835 -121.439146
4   6001 MCMAHON DR  SACRAMENTO     ...      38.519470 -121.435768

[5 rows x 13 columns]

In [7]:
#Let's try to export our modified dataset into csv,excel and txt formats

realEstTrans.to_csv('New_realEstTrans.csv', index=False)
#This will create the file 'New_realEstTrans.csv' in your root folder

#realEstTrans.to_excel('New_realEstTrans.xlxs', index=False)
#realEstTrans.to_excel('New_realEstTrans.xlxs', index=False, sep='\t')

#Try out the other codes top export the dataset in different formats.
#OK, Lets end for this part and continue the series with more operations on the datasets